/* 

.container{


    width:min(100%,950px);

}


.homescreen_title{

font-family: Georgia, 'Times New Roman', Times, serif;
font-size: 20px;
text-align: justify;
text-decoration-style: dotted;
margin-top: 20%;
margin-left: 20%;
padding-top: 40px;
}

#hash_name{


    position: relative;
    width: 300px;
}


#hash_name .form-group {
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.3s ease, transform 0.3s ease;
  }

  #hash_name .animate .form-group {
    opacity: 1;
    transform: translateY(0);
  } */