.header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0px;
	border: 1px solid #a2a2a2;
	background-color: #f4f4f4;
	-webkit-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
	box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
	/* -webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px; */
}
.homescreen__title{
    font-size: 20PX Bold;
    margin: 10PX 0 10PX 00PX; 
}
.navlist {
	/* //margin: 5px 50px 0 0; */
	display: flex;
 	justify-content: flex-end;
 	list-style: none; 
	margin: 0;
	padding: 0;
}
.navlist li a {
    color: #000000;
	font-size: 1.4em;
	font-weight: bold;
	padding: 10px 10px;
	margin: 0 20PX;
	text-align: center;
	display: block;
	text-decoration: none;
}
.navlist  li a:hover {
	color: #45B6FE;
	font-size: 1.4em;
	font-weight: bold;
}
.navlist   li.active a {
	color: #45B6FE;
  }
/* search bar */
#search-bar-container {
    display: flex;
    justify-content: right;
    align-items: center;
    height: 18px;
    margin: 22px;
  }
  
  form {
    display: flex;
    align-items: center;
	justify-content: flex-end;
    background-color: #fff;
    border-radius: 25px;
    padding: 0px;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.2);
  }
  
  #search-bar-container input[type="text"] {
    border: none;
    outline: none;
    width: 100%;
    padding: 0px;
    font-size: 16px;
	margin: 0 10px;
  }
  button[type="submit"] {
    border: none;
    background-color: #007bff;
    color: #fff;
    font-size: 16px;
    padding: 10px 15px;
    border-radius: 45px;
    cursor: pointer;
    margin-left: 10px;
  }
 
/* ================================= 
  Media Queries
==================================== */




@media (min-width: 769px) {
	.header,
	.main-nav {
		display: flex;
	}
	.header {
		flex-direction: column;
		align-items: center;
    	
	}

}

@media (min-width: 925px) {
	.header {
		flex-direction: row;
		justify-content: space-between;
	}

}